// custom variables
$primary: #909187;

.navbar {
    background: none;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  section {
      border-top: 0.5px solid lightgrey;
      border-bottom: 0.5px solid lightgrey;
  }

// bootstrap import
@import '../node_modules/bootstrap/scss/bootstrap'